#include "alloca.h"
#include "assert.h"
#include "complex.h"
#include "conio.h"
#include "ctype.h"
#include "dir.h"
#include "direct.h"
#include "errno.h"
#include "fcntl.h"
#include "fenv.h"
#include "float.h"
#include "getopt.h"
#include "inttypes.h"
#include "io.h"
#include "iso646.h"
#include "libgen.h"
#include "limits.h"
#include "locale.h"
#include "locking.h"
#include "malloc.h"
#include "math.h"
#include "memory.h"
#include "nl_types.h"
#include "process.h"
#include "pthread.h"
#include "regex.h"
#include "sched.h"
#include "search.h"
#include "setjmp.h"
#include "share.h"
#include "signal.h"
#include "stat.h"
#include "stdalign.h"
#include "stdarg.h"
#include "stdatomic.h"
#include "stdbool.h"
#include "stddef.h"
#include "stdint.h"
#include "stdio.h"
#include "stdlib.h"
#include "stdnoreturn.h"
#include "string.h"
#include "strings.h"
#include "tchar.h"
#include "tgmath.h"
#include "threads.h"
#include "time.h"
#include "timeb.h"
#include "uchar.h"
#include "unistd.h"
#include "utime.h"
#include "wchar.h"
#include "wctype.h"
#include "_defs.h"
#include  "_locale.h"
#include "sys/locking.h"
#include "sys/mman.h"
#include "sys/stat.h"
#include "sys/time.h"
#include "sys/timeb.h"
#include "sys/types.h"
#include "sys/utime.h"
#include "sys/wait.h"
